@model TrainingWebsite.ViewModels.CourseDetailViewModel

<div class="tab_panel active">
    <div class="tab_panel_title">@Model.TenKhoaHoc</div>
    <div class="tab_panel_content">
        <div class="tab_panel_section">
            <div class="tab_panel_subtitle">Muc Tieu</div>
            <div class="tab_panel_text">
                <p>@Model.MucTieuKH</p>
            </div>
        </div>
        <div class="tab_panel_section">
            <div class="tab_panel_subtitle">Hinh Thuc Danh Gia</div>
            <div class="tab_panel_text">
                <p>@Model.HinhThucDanhGia</p>
            </div>
        </div>

        <div class="tab_panel_faq">
            <div class="tab_panel_title">FAQ</div>

            <!-- Accordions -->
            <div class="accordions">

                <div class="elements_accordions">

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center"><div>Can I just enroll in a single course?</div></div>
                        <div class="accordion_panel">
                            <p>Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
                        </div>
                    </div>

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center active"><div>I'm not interested in the entire Specialization?</div></div>
                        <div class="accordion_panel">
                            <p>Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
                        </div>
                    </div>

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center"><div>What is the refund policy?</div></div>
                        <div class="accordion_panel">
                            <p>Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
                        </div>
                    </div>

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center"><div>What background knowledge is necessary?</div></div>
                        <div class="accordion_panel">
                            <p>Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
                        </div>
                    </div>

                    <div class="accordion_container">
                        <div class="accordion d-flex flex-row align-items-center"><div>Do i need to take the courses in a specific order?</div></div>
                        <div class="accordion_panel">
                            <p>Lorem ipsun gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>