
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Trainer/Views/Shared/_TrainerLayout.cshtml";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

       
    </div>
</section>

