@model List<TrainingWebsite.ViewModels.CourseHomeViewModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="../../assets/images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Popular Online Courses</h2>
                </div>
            </div>
        </div>

        <div class="row courses_row">
            @foreach (var course in Model)
            {

                <div class="col-lg-4  mb-3 d-flex align-items-stretch">
                    <div class="course">
                        <div class="course_image"><img object-fit:cover" src="@Url.Content("~/images/" + course.Image)" class="card-img-top" alt=""></div>
                        <div class="course_body d-flex flex-column">
                            <h3 class="course_title"><a href="course.html">@course.TenKhoaHoc</a></h3>
                            <div class="course_teacher">@course.TrainerName</div>
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_info">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5 Ratings</span>
                                </div>
                                <div></div>
                                <a href="#" class="btn btn-primary mt-auto align-center" style="background-color: #14bdee; border: none">Enroll</a>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="#">view all courses</a></div>
            </div>
        </div>
        @*<partial name="~/Views/Home/GetCourseDesign.cshtml" />*@
    </div>
</div>