<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/assets_identity/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets_identity/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets_identity/css/style.css" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>
<body>
    @RenderBody()
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}