@using TrainingWebsite.Data
@inject ApplicationDbContext data;

    <div class="sidebar_section">
        <div class="sidebar_section_title">Categories</div>
        <div class="sidebar_categories">
            <ul>
                @foreach (var item in data.Apartments.Where(x=>x.ApartmentName!=""))
                {
                <li>
                    <a href="@Url.Action("Index","Course",new { page = 1, size = ViewBag.CurrentSize, txtSearch = ViewBag.txtSearch, JobPosID = ViewBag.JobPosID, ApartmentID = item.ApartmentID })">@item.ApartmentName</a>
                </li>
                }
            </ul>
        </div>
    </div>