@model TrainingWebsite.ViewModels.CourseDetailViewModel
    <!-- Feature Teacher-->
    <div class="sidebar_section">
        <div class="sidebar_section_title">Teacher</div>
        <div class="sidebar_teacher">
            <div class="teacher_title_container d-flex flex-row align-items-center justify-content-start">
                <div class="teacher_image"><img src="data:image/*;base64,@(Convert.ToBase64String(Model.ImageTrainer))" alt=""></div>
                <div class="teacher_title">
                    <div class="teacher_name"><a href="#">@Model.TenGV</a></div>
                    <div class="teacher_position">@Model.JobPosName_Trainer</div>
                </div>
            </div>
            <!--<div class="teacher_meta_container">-->
                <!-- Teacher Rating -->
                <!--<div class="teacher_meta d-flex flex-row align-items-center justify-content-start">
                    <div class="teacher_meta_title">Average Rating:</div>
                    <div class="teacher_meta_text ml-auto"><span>4.7</span><i class="fa fa-star" aria-hidden="true"></i></div>
                </div>-->
                <!-- Teacher Review -->
                <!--<div class="teacher_meta d-flex flex-row align-items-center justify-content-start">
                    <div class="teacher_meta_title">Review:</div>
                    <div class="teacher_meta_text ml-auto"><span>12k</span><i class="fa fa-comment" aria-hidden="true"></i></div>
                </div>-->
                <!-- Teacher Quizzes -->
                <!--<div class="teacher_meta d-flex flex-row align-items-center justify-content-start">
                    <div class="teacher_meta_title">Quizzes:</div>
                    <div class="teacher_meta_text ml-auto"><span>600</span><i class="fa fa-user" aria-hidden="true"></i></div>
                </div>
            </div>-->
            <div class="teacher_info">
                <p>Hi! I am @Model.TenGV., I’m a @Model.JobPosName_Trainer, I am happy to instruction this course</p>
            </div>
        </div>
    </div>
