@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<link rel="stylesheet" type="text/css" href="~/assets/styles/contact.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/contact_responsive.css">

<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            @*<li><a href="#">Register</a></li>
                            <li>Register Confirm</li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="contact_info_container">
        <div class="container text-center">

            <img src="~/verified.png" alt="Cofirm Icon" style="width:40px;height:40px;">
            <h2 style="color:greenyellow">
                Confirm Email Successfully!
            </h2>


        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="~/assets/plugins/marker_with_label/marker_with_label.js"></script>
<script src="~/assets/js/contact.js"></script>
